# Created by JC Electronics
# LAN middleman placeholder template. Do not enter real credentials in GitHub.
LOCAL_SYNC_HOST=0.0.0.0
LOCAL_SYNC_PORT=8787
LOCAL_SYNC_SERVER_URL=http://STORE-SERVER-IP:8787
LOCAL_SYNC_SQLITE_PATH=store-sync.sqlite
LOCAL_SYNC_WORDPRESS_PUSH_ENABLED=false
PUG_WORDPRESS_URL=https://example-store.com
PUG_WORDPRESS_REST_BASE=/wp-json/tcg-store/v1
PUG_WORDPRESS_USERNAME=replace_with_secure_value
PUG_WORDPRESS_APP_PASSWORD=replace_with_secure_value
PUG_SQUARE_ENVIRONMENT=sandbox_or_production
PUG_SQUARE_LOCATION_ID=replace_with_secure_value
PUG_SQUARE_ACCESS_TOKEN=replace_with_secure_value
PUG_SQUARE_TERMINAL_DEVICE_ID=replace_with_secure_value
