# Created by JC Electronics
# App placeholder template. Most device secrets should be stored in the app secure store.
APP_ENV=production
PUG_LOCAL_SYNC_DISCOVERY_PROTOCOL=pug-local-sync-discovery-v1
PUG_LOCAL_SYNC_DISCOVERY_PORT=8788
PUG_LOCAL_SYNC_SERVER_URL=http://STORE-SERVER-IP:8787
PUG_OFFLINE_PAIRING_CODE=replace_with_secure_value
KIOSK_DEVICE_TOKEN=replace_with_secure_value
